* {
  margin: 0;
  padding: 0;
}

/* INICIO */

.body_in {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  font-family: system-ui, sans-serif;
}

header {
  display: flex;
  font-size: medium;
  min-height: 70px;
  justify-content: space-between;
  color: white;
  background-color: black;
  align-items: center;
  padding: 5px;
  font-family: monospace;
}

.navbartop{
display: flex;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 40px;
  font-family: monospace;
  font-size: 20px;
}


.nav a {
  padding-right: 50px;
  color: white;
  text-decoration: none;
}

.nav a:hover {
  color: rgb(224, 148, 86);
}

.div_top {
  padding-right: 25px;
  color: white;
  text-decoration: none;
  flex-direction: row;
}

.nav {
  justify-content: center;
}

.documento {
  padding: 150px;
  background-image: url(../media/MHOVER001.png);
  align-content: stretch;
  background-size: cover;
  text-align: center;
  font-family: monospace;
  color: white;
  font-size: 15px;
}

.documento:hover {
  transform: scale(1.1);
  transition: all 1s;
}

span {
  background-color: black;
}

.contenedorcajas {
  display: flex;
  grid-gap: 1rem;
  grid-template-columns: auto;
  justify-content: space-evenly;
  padding: 20px;
}

.card-group {
  text-align: center;
}

.card-group .card:hover {
  transform: scale(1.1);
  transition: all 1s;
}

.divult {
  color: white;
  background-color: black;
  text-align: center;
}

.divult .citearmin {
  padding: 200px;
}


footer {
  background-color: black;
  padding: 2rem;
  text-align: center;
  font-family: monospace;
  font-size: medium;
}

.info {
  display: flex;
  justify-content: center;
  color: white;
  background-color: black;
  padding: 100px;
  font-family: monospace;
  padding-bottom: 80px;
  font-size: medium;
}

.testinfo {
  display: flex;
  flex-direction: column;
}

.pronav {
  margin-left: 200px;
  font-family: monospace;
}

.undnav {
  margin-left: 50px;
  font-family: monospace;
}

.Copyrigh {
  background-color: black;
  color: aliceblue;
  text-align: center;
  padding-top: 100px;
  font-size: medium;
}

/*NTROS*/

.bodydjs {
  text-align: center;
  background-image: url(../media/nos2.jpg);
  color: white;
  font-family: monospace;
}

.sobre {
  padding: 2rem;
}

.sidebar {
  padding: 10rem;
}

.caja_nuno {
  height: 100px;
  background-color: rgb(10, 182, 87);
  text-align: center;
  margin: 5px;
}

.caja_ndos {
  height: 50px;
  background-color: rgb(100, 149, 237);
  text-align: center;
  margin: 5px;
}

/*MUSICA & LANZAMIENTOS*/

.header_lanzamientos {
  text-align: center;
  padding: 100px;
  font-family: monospace;
  color: white;
}

.videos_lan {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  font-size: 13px;
  background-image: url(../media/lan1.jpg);
  background-attachment: fixed;
  color: aliceblue;
  font-family: monospace;
  padding-bottom: 80px;
  box-sizing: border-box;
}

/*GIGS*/

.gigs_titulo {
  text-align: center;
  padding: 50px;
  font-family: monospace;
  background-color: black;
  color: white;
}

.accordion {
  padding-top: 200px;
  padding-bottom: 220px;
  background-color: gray;
}

/*CONTACTO*/

.contacto {
  padding: 7rem;
  color: white;
  font-family: monospace;
  background-image: url(../media/11.jpg);
}

.h1con {
  padding-bottom: 3rem;
}

.footer_contac {
  background-image: none;
  text-align: center;
  font-family: monospace;
}

.Copyrigh_contac {
  background-color: black;
  color: aliceblue;
  padding: 2rem;
  text-align: center;
  font-family: monospace;
}

@media only screen and (min-width: 1240px) {
  .encabezado {
    font-size: 50px;
    text-align: center;
    color: blue;
  }
}/*# sourceMappingURL=style.css.map */